.container {
	padding:  0 1rem;
	background-color: purple;
	background: '/public/images/me.jpg.jpg';
	height: 100vh;
}

.header {
	display:  flex;
	justify-content: space-between;
	align-items: center;
}

.main {
	max-width:  50rem;
}

.backToHome {
	margin:  3rem 0 0;
}

.li {
	padding: 10px;
	margin: 10px;
	background-color: blueviolet;
}