.container {
	padding:  0 1rem;
	background-color: #000;
	height: 100%;
	color: whitesmoke;
}

.header {
	margin-top: auto;
}

.main {
	max-width:  45rem;
	height: 80%;
	justify-content: center;
	padding: 1rem;
	background-color: #f0a818;
	background-image: linear-gradient(180deg, #f0a818, #000000);
	color: white;
	font-size: smaller;
}

.backToHome {
	margin:  3rem 0 0;
}

.backToHome a {
	text-decoration: none;
}

.backToHome a:hover {
	background-color: #c7870f;
	border-radius: 10px;
	padding: 10px;
}



.nav {
	display: flex;
	font-size: x-small;
	position: absolute;
}

.li {
	padding: 10px;
	margin: auto;
/* 	background-color: #f0a818; */
	text-decoration: none;
}

.li a {
	text-decoration: none;
	color: black;
	font-size: 1rem;
	font-weight: bold;
	background-image: linear-gradient(270deg, black, #f0a818);
	padding: 3px;
}

.li a:hover {
	background-image: linear-gradient(270deg, #f0a818, black);
}

.Image {
	margin: 20px;
	margin-top: 20px;
	padding: 20px;
	border-radius: 100px;
}

.footer a {
	margin: 1rem auto;
	text-decoration: none;
	font-size: 2rem;
	color: black;
	font-weight: bold;
	border-radius: 10px;
	background-image: linear-gradient(270deg, black, #f0a818)
}

.footer a:hover {
	background-image: linear-gradient(270deg, #f0a818, black);
	font-size: 3rem;
}