.container {
	padding:  0 1rem;
	background-color: #000000;
	background: '/public/images/me.jpg.jpg';
	height: 100%;
	color: whitesmoke;
}

.header {
	margin-top: auto;
}

.main {
	max-width:  45rem;
	height: 80%;
	justify-content: center;
	padding: 1rem;
	background-color: #181848;
	color: white;
	font-size: smaller;
}

.backToHome {
	margin:  3rem 0 0;
}

.nav {
	display: flex;
	font-size: x-small;
}

.li {
	padding: 10px;
	margin: auto;
}

.li a {
	text-decoration: none;
}

.Image {
	margin: 20px;
	margin-top: 20px;
	padding: 20px;
	border-radius: 100px;
}

.footer a {
	margin: 1rem auto;
}